.grid {
	width:100%;
	list-style: none;
	padding:0 0 80px 0;
	margin:0 0 0 0;
	
}

.grid_prod {
	width:95%;
	list-style: none;
	
}

.grid li {
	float:left;/*IE9 專用*/
	display: block;
	width:23.5%;
	margin:10px 15px 20px 0;
}

#sort_red_wine {
	display:block;
	}

#sort_red_wine_phone {
	display:none;
	}

.grid_prod_mg {
	width:35%;
	float:left;
	padding:0 0.35% 0.35 0.35%;
	margin:20px 0 0 0;
	}

.grid_prod_img {
	width:100%;
}

.share {
	margin:10px 0 20px 0;
	}

.share_left {
	width:130px;
	height:35px;
	float:left;
	margin:0 0 20px 0;

	}

.share_right {
	width:185px;
	height:35px;
	float:right;
	margin:13px 0 20px 0;
	}

.share_right img {
	width:100%;
	}


.grid_prod_info {
	display: block;
	float:right;
	width:60%;
	color:#000;
	margin:0 0 50px 2%;
}



.info_detail {
	width:100%;
	margin:2% 0;
	word-spacing:100%;
	line-height:1.6em;
	font-size:1em;
	}

.info_detail samp {
	font-weight:bolder;
	}

.info_detail div{
	width:20%;
	font-weight:bolder;
	font-size:1em;
	float:left;
	}

.info_detail h3 {
	width:80%;
	float:right;
	margin:0 0 0 0;
	font-size:1.08em;
	}

.info_detail p { 
   width:80%;
   float:right;
   margin:0 0 0 0;
   }
  
.info_exclusive {
	width:100%;
    font-size:1.1em;
	margin:0 0;
	word-spacing:100%;
	line-height:1.6em;
	}
	


.info_exclusive div{
	width:20%;
	font-weight:bolder;
	font-size:0.9em;
	float:left;
	
	}

.info_exclusive p {
	width:80%;
    float:right;
    margin:0 0 10px 0;
	font-size:1em;
	}

.info_detail02 {
	width:100%;
	margin:2% 0;
	word-spacing:100%;
	line-height:1.8em;
	float:left;
	}

.info_detail02 samp {
	font-weight:bolder;
	}

.info_detail02 div{
	width:120px;
	background-color:#0F0;
	font-weight:bolder;
	float:left;
	}

.info_detail02 h3 {
	width:450px;
	float:right;
	font-weight:bolder;
	
	}

.info_detail02 p {
	line-height:1.6em;
	}


.grid h2 {
	color:#393939;
	text-align:center;
	margin:2px 0 0 0;
	font-size:0.7em;
	height:50px;
	width:100%;
	}

.grid_prod h2 {
	color:#000;
	text-align:center;
	margin:2px 0 0 0;
	font-size:0.8em;
	height:50px;
	
	}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;
}




.grid li a,
.grid li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}


/* Effect 1: opacity */
.grid.effect-1 li.animate {
	-webkit-animation: fadeIn 0.65s ease forwards;
	animation: fadeIn 0.65s ease forwards;
}


/*產品單一內容*/
.grid_prod {
	margin:1% 2.5%;
	}

.grid_prod h2 {
	display:none;
	}



.grid_prod_info table {
	width:100%;
	height:50%;
    border-collapse: collapse;
}

.grid_prod_info table, th, td {
    border: 1px solid black;
	padding:1%;
}

.bg_yellow {
	text-align:center;
	background-color:#f9ffd4;
	}

/*----詢價車---*/
#quotation {
		display: none;
		position: absolute;
	}
#quotation .quotation {
	display: block;
	text-align: right;
	cursor: pointer;
	font-size: 12px;
    }

div.bigDiv {
	height: 3000px;
    }


.quotation_number {
	width:auto;
	height:30px;
	font-size:28px;
	color:#F00;
	text-align:center;
	margin:10px auto;
	background-color:#FFF;
	}

.quotation_button {
	width:70px;
	height:30px;
	padding:3px 10px 8px 10px;
	background-color:#f00;
	border-radius: 10px; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px;
	margin:5px 0 0 0;
	float:left;
	color:#FFF;
	font-size:17px;
	text-align:center;
	}

.quotation_number samp {
	color:#00a650;
	font-size:16px;
	}

.quotation_button a:link {
	color:#FFF;
	}

.quotation_button a:visited {
	color:#FFF;
	}

.quotation_button a:hover {
	color:#fffc00;
	}


@-webkit-keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}

@keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}

/* Effect 2: Move Up */
.grid.effect-2 li.animate {
	-webkit-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

/* Effect 2: Move Up */
.grid_prod.effect-2 li.animate {
	-webkit-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}

/* Effect 3: Scale up */
.grid.effect-3 li.animate {
	-webkit-transform: scale(0.6);
	transform: scale(0.6);
	-webkit-animation: scaleUp 0.65s ease-in-out forwards;
	animation: scaleUp 0.65s ease-in-out forwards;
}

/* Effect 3: Scale up */
.grid_prod.effect-3 li.animate {
	-webkit-transform: scale(0.6);
	transform: scale(0.6);
	-webkit-animation: scaleUp 0.65s ease-in-out forwards;
	animation: scaleUp 0.65s ease-in-out forwards;
}

@-webkit-keyframes scaleUp {
	0% { }
	100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes scaleUp {
	0% { }
	100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}

/* Effect 4: fall perspective */
.grid.effect-4 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid.effect-4 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(400px) translateY(300px) rotateX(-90deg);
	transform: translateZ(400px) translateY(300px) rotateX(-90deg);
	-webkit-animation: fallPerspective .8s ease-in-out forwards;
	animation: fallPerspective .8s ease-in-out forwards;
}

/* Effect 4: fall perspective */
.grid_prod.effect-4 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid_prod.effect-4 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(400px) translateY(300px) rotateX(-90deg);
	transform: translateZ(400px) translateY(300px) rotateX(-90deg);
	-webkit-animation: fallPerspective .8s ease-in-out forwards;
	animation: fallPerspective .8s ease-in-out forwards;
}

@-webkit-keyframes fallPerspective {
	0% { }
	100% { -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}

@keyframes fallPerspective {
	0% { }
	100% { -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg); transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}

/* Effect 5: fly (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
.grid.effect-5 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid.effect-5 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 50% 50% -300px;
	transform-origin: 50% 50% -300px;
	-webkit-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
	-webkit-animation: fly .8s ease-in-out forwards;
	animation: fly .8s ease-in-out forwards;
}


/* Effect 5: fly (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
.grid_prod.effect-5 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid_prod.effect-5 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 50% 50% -300px;
	transform-origin: 50% 50% -300px;
	-webkit-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
	-webkit-animation: fly .8s ease-in-out forwards;
	animation: fly .8s ease-in-out forwards;
}

@-webkit-keyframes fly {
	0% { }
	100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}

@keyframes fly {
	0% { }
	100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); opacity: 1; }
}

/* Effect 6: flip (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
.grid.effect-6 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid.effect-6 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	-webkit-transform: rotateX(-80deg);
	transform: rotateX(-80deg);
	-webkit-animation: flip .8s ease-in-out forwards;
	animation: flip .8s ease-in-out forwards;
}

/* Effect 6: flip (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
.grid_prod.effect-6 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid_prod.effect-6 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	-webkit-transform: rotateX(-80deg);
	transform: rotateX(-80deg);
	-webkit-animation: flip .8s ease-in-out forwards;
	animation: flip .8s ease-in-out forwards;
}


@-webkit-keyframes flip {
	0% { }
	100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}

@keyframes flip {
	0% { }
	100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); opacity: 1; }
}

/* Effect 7: helix (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
.grid.effect-7 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid.effect-7 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-webkit-animation: helix .8s ease-in-out forwards;
	animation: helix .8s ease-in-out forwards;
}

/* Effect 7: helix (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
.grid_prod.effect-7 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid_prod.effect-7 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-webkit-animation: helix .8s ease-in-out forwards;
	animation: helix .8s ease-in-out forwards;
}

@-webkit-keyframes helix {
	0% { }
	100% { -webkit-transform: rotateY(0deg); opacity: 1; }
}

@keyframes helix {
	0% { }
	100% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); opacity: 1; }
}

/* Effect 8:  */
.grid.effect-8 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid.effect-8 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: scale(0.4);
	transform: scale(0.4);
	-webkit-animation: popUp .8s ease-in forwards;
	animation: popUp .8s ease-in forwards;
}


/* Effect 8:  */
.grid_prod.effect-8 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid_prod.effect-8 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: scale(0.4);
	transform: scale(0.4);
	-webkit-animation: popUp .8s ease-in forwards;
	animation: popUp .8s ease-in forwards;
}

@-webkit-keyframes popUp {
	0% { }
	70% { -webkit-transform: scale(1.1); opacity: .8; -webkit-animation-timing-function: ease-out; }
	100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes popUp {
	0% { }
	70% { -webkit-transform: scale(1.1); transform: scale(1.1); opacity: .8; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
	100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}

@media screen and (max-width: 1366px) {
	.grid li {
	width:23.5%;
	margin:0 1% 5% 0;
    }
	
}


@media screen and (max-width: 1366px) {
	.grid li {
	width:23.5%;
	margin:0 1% 5% 0;
    }
	
}


@media screen and (max-width: 1280px) {

	.grid li {
		width:23.5%;
		margin:0 1% 5% 0;
	}
}

@media screen and (max-width: 1136px) {
	.grid li {
	width:32%;
	margin:0 1% 5% 0;
    }
	
}

@media screen and (max-width: 1024px) {
	.grid li {
	display: block;
	width:23.5%;
	margin:10px 15px 20px 0;
}
	

}

@media screen and (max-width: 900px) {
	.grid li {
	display: block;
	width:32%;
	margin:10px 15px 20px 0;
}
	
}

@media screen and (max-width: 800px) { 
    .grid li {
	    width:32%;
	    margin:0 1% 5% 0;
        }
	
    .info_detail div{
	    width:25%;
	    }

	.info_detail h3 {
		width:75%;
		}
	
	.info_detail p { 
	   width:75%;
	   }
	   
	.info_exclusive div{
		width:25%;
		}
	
	.info_exclusive p {
		width:75%;
		}


}

@media screen and (max-width: 768px) { 
	

	
	
    
}

@media screen and (max-width: 640px) { 
    .grid_prod_mg {
	width:35%;
	}

   .grid_prod_info {
	width:60%;
    }

	.info_detail div{
	    width:35%;
	    }

	.info_detail h3 {
		width:65%;
		}
	
	.info_detail p { 
	   width:65%;
	   }
	   
	.info_exclusive div{
		width:100%;
		}
	
	.info_exclusive p {
		width:100%;
		}

}

@media screen and (max-width: 600px) {
	.grid li {
	width:49%;
	margin:0 1% 5% 0;
    }

	.info_detail div{
	    width:35%;
	    }

	.info_detail h3 {
		width:65%;
		}
	
	.info_detail p { 
	   width:65%;
	   }
	   
	.info_exclusive div{
		width:100%;
		}
	
	.info_exclusive p {
		width:100%;
		}
	}

@media screen and (max-width: 480px) {
   .grid li {
	width:49%;
	margin:0 1% 5% 0;
    }
   
   .grid_prod_mg {
	width:95%;
	}

   .grid_prod_info {
	width:100%;
    }
	
	
	#sort_red_wine {
	
	display:block;
	}

   #sort_red_wine_phone {
	display:none;
	}
	
   .info_detail div{
	  width:25%;
	  }

  .info_detail h3 {
	  width:65%;
	  }
  
  .info_detail p { 
	 width:65%;
	 }
	 
  .info_exclusive div{
	  width:100%;
	  }
  
  .info_exclusive p {
	  width:100%;
	  }
	
}



@media screen and (max-width: 400px) {
	.grid li {
		width: 100%;
		margin:0 0 5% 0;
	}
	
	.grid_prod_mg {
	width:95%;
	}

   .grid_prod_info {
	width:100%;
    }
	
	.info_detail div{
	  width:25%;
	  }
	
	#sort_red_wine {
	display:none;
	}
	
	.sort_red_wine h2{
	display:none;
	}

   #sort_red_wine_phone {
	display:block;
	}
	
	
	

	
	
}

@media screen and (max-width: 360px) {
	.grid li {
		width: 100%;
		margin:0 0 5% 4%;
	}
	
	.grid h2 {
	width:89%;
	}
	
	#sort_red_wine {
	display:none;
	}
    
	.sort_red_wine h2{
	display:none;
	}
	
   #sort_red_wine_phone {
	display:block;
	}
	.grid_prod_info {
	width:100%;
    }
	
	.info_detail div{
	  width:35%;
	  }

	
}

@media screen and (max-width: 320px) {
	.grid li {
		width: 90%;
		margin:0 0 5% 4%;
	}
	
	.grid h2 {
	width:100%;
	}
	
	#sort_red_wine {
	display:none;
	}
    
	.sort_red_wine h2{
	display:none;
	}
	
   #sort_red_wine_phone {
	display:block;
	}
	
	.grid_prod_info {
	width:100%;
    }
	
	.info_detail div{
	  width:35%;
	  }
	  
	.share_left {
		width:110px;
	    height:35px;

		}
    
	.share_right {
	    width:175px;
		float:right;
		text-align:right;
		
	}
	
	.share_right img {
		
		width:90%;
		}

}
	
   
	

